.ManeleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.Info {
    display: block;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc; 
    box-shadow: 3px 3px 5px 6px #ccc; 
    width: 74vw;
    height: 60vh;
    margin: 40px 0px;
    overflow: auto;
}

.Info:first-child {
    display: none;
}

.Scrolling
{
    overflow: auto;
    color: red;
}