.WelcomeTest {
    border: 1 px solid #eee;
    background-color: #fff;
    height: 40%;
    width: 30%;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 200;
}

.Content {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WelcomeTest * {
    margin-bottom: 10px;
}
button {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 50px;
    background-color: red;
    width: 80px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(202, 52, 52);
}

em {
    font-size: 20px;
}