li {
    list-style: none;
}

.Options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Options * {
    margin-top: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Options *:hover {
    color: #d54d7b;
}